.Span1{
    padding: 0;    
}

.PropSemi-detached::after{
    display: inline-block;
    width: 100%;
    height: 100%;
    content: "";
    background: url(../ImagesUsed/Semi-detached.png) no-repeat 46% 50%;
    background-size: 60%;
}
.PropDetached::after{
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    background: url(../ImagesUsed/Detached.png) no-repeat 50% 50%;
    background-size: 44%;
}
.PropCommercial::after{
    display: inline-block;
    width: 100%;
    height: 100%;
    content: "";
    background: url(../ImagesUsed/Commercial.png) no-repeat 50% 60%;
    background-size: 43%;

}
.PropTownhouse::after{
    display: inline-block;
    width: 100%;
    height: 100%;
    content: "";
    background: url(../ImagesUsed/Townhouse.png) no-repeat 50% 50%;
    background-size: contain;
    background-size: 60%;

}
.PropCondominium::after{
    display: inline-block;
    width: 100%;
    height: 100%;
    content: "";
    background: url(../ImagesUsed/Condominium.png) no-repeat 45% 50%;
    background-size: 65%;

}
.PropLand::after{
    display: inline-block;
    width: 100%;
    height: 100%;
    content: "";
    background: url(../ImagesUsed/Land.png) no-repeat 45% 50%;
    background-size: 38%;

}
.PropOther::after{
    display: inline-block;
    width: 100%;
    height: 100%;
    content: "";
    background: url(../ImagesUsed/Trailer.png) no-repeat 50% 70%;
    background-size: 65%;
}

.Complete::before{
    content:'Completed: ';
}

.Incomplete::before{
    content:'Completed: ';
}

/* .frontImageLogo {
    position: absolute;
    left: calc(100% - 150px);
    top: -12px;
} */

.completedAddress:hover{
    text-decoration: underline;
    cursor: pointer;
}

.fColRaw label:hover,.addressCompleted:hover{
  text-decoration: underline;
  cursor: pointer;
}
.addressCompleted{
    flex: 5;
    margin-right: 25px;
}
.promImageLoaded{
    overflow: hidden;
    flex: 1.5;
    max-height: 116px;
    padding-right: 6px;
}
.promImageLoaded img{
    display: inline-block;
    width: 100%;
    max-height: 112px;
    box-sizing: border-box;
    height: 100%;
    object-fit: cover;
    margin: auto;
    padding: 3px;
    border-radius: 5px;
}

.noMargin{margin: 0;}

.dateFromTo{
    position: absolute; 
    left: 10px; 
    top: 6px;
    color: grey;
}

#table-wrapper table {
    /* width:  calc(100vw - 295px); */
    width: 100% !important;
    padding: 0;
}

#commissions1_filter label{
    margin: 0;
}
#commissions1 a{
    text-decoration: underline;
    padding: 5px 8px;
    border-radius: 50%;

}

#commissions1 a:hover{
    background: #29c1e1;
    color: white;
}
.MainSpan2 .mainDiv{
    padding: 5px 10px; padding-right: 3px;
}

.MainSpan2 .mainDiv .span4Label{
    float: unset;
}

#Invoice .HeadLines{
  padding-top: 0;
}

.textAdd{
    display: none;
    color: white;
    margin-top: 3px;
}
.charAdd{
    font-size: 20px;
}
.buttonAdd{
    display: block;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    background: #f3f3f3;
    border: 1px solid lightgrey;
    margin-top: 22px;
    height: 24px;
    padding: 2px;
}
#commissions1{
    display: block;
    /* width: 100% !important; */
    overflow: auto;
    
    padding-top: 15px;    
    border: none;
    height: calc(100vh - 280px);    
    pointer-events: all; 
}
#commissions1 td{
    padding: 8px 5px 8px 8px;
}
#commissions1 .num{
    font-variant: tabular-nums;

}
#commissions1 div{
    text-align: unset;
}
.tablerowFinal{
    position: sticky;
    bottom: -1px;
    background: #f3f3f3;
    box-shadow: 0px -0.5px lightgrey;
}
#commissions1_wrapper {
    margin-top: 10px;
    z-index: 2;
}
.dt-buttons{
    height: 0;
}
/* #commissions1_filter{
    margin-bottom: 10px;
} */
/* .tablerowFinal td{
 
} */
.forSearchDeals{
    /* padding-left: 9px; */
}
.HeaderRowComissions{
    height: 30px !important; 
    text-align: center; 
    position: sticky; 
    top: 0
}

.buttonAdd:hover{
    background: #054d6a;
}

.buttonAdd:hover .charAdd{
    display: none;
}
.buttonAdd:hover .textAdd{
    display: block;
}

.forcheckLabelList {
    width: 170px;
}
.tablediv {
    margin-top: 10px;
    /* max-width: calc(100vw - 275px); */
    overflow: scroll;
    /* width: fit-content; */
    /* width: 70vw; */
    /* max-width: calc(100vw - 275px); */
}

.dataTables_paginate,
.paging_simple_numbers,
.paginate_button {
    pointer-events: all;
}

.dataTables_empty{
    padding-top: 20px !important;
}

.tdMin{
    width: 20px;
    min-width: 20px;
}

.tdBig {
    width: 8vw;
    min-width: 7vw;
}

.tdMed {
    width: 10vw;
    min-width: 9vw;
}

.tdSm {
    width: 6.8vw;
    min-width: 5vw;
}

.row4Comission span{
    display: block;
    text-align: center;
}

/* .tdMin{
    width: 5vw;
    min-width: 4vw;
} */

/* .tdBigExtra {
    width: 17vw;
    min-width: 8vw;
}

.tdMedExtra {
    width: 14vw;
    min-width: 8vw;
}

.tdSmExtra {
    width: 9.5vw;
    min-width: 8vw;
} */

.rawSpan{
    background-color: #054d6a;
    width: 100%;
    max-width: calc(100vw - 279px);
    z-index: 1;
    height: 29px;
    margin-top: 46px;
    position: fixed;
    top: unset;
}

.multichoiceBox{
    display: inline-block; width: 220px; margin: 0px; position: absolute;right: 4px;
}

#table-wrapper .wrapperdiv1child{
    margin-bottom: -30px;
    /* margin-top: 24px; */
}

.contactButton{
    color: black
}

.navBarMobile{
    display: none;
    position: sticky;
    width: 100vw;
}
@media print {
    /* .frontImageLogo {
        position: absolute;
        left: calc(100% - 150px)!important;
        top: -10px!important;
    } */
  }



  @media screen and (min-width: 1200px) {
    /* .tdBig {
        min-width: 13vw;
    }

    .tdMed {
        min-width: 9vw;
    }

    .tdSm {
        min-width: 7vw;
    } */
}

@media screen and (min-width: 1600px) {
    /* .tdBig {
        min-width: 15vw;
    }

    .tdMed {
        min-width: 13vw;
    }

    .tdSm {
        min-width: 10vw;
    } */
}


  /* Portrait and Landscape */
  @media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) 
  {
      .rawSpan{
          margin-top: 46px
      }
      #table-wrapper .wrapperdiv1child{
          /* margin-bottom: -18px;
             margin-top: 16px; */
      }
      .dataTables_filter label{
          position: absolute;
          left: 0;
          margin-top: 0px !important;
      }
      .dataTables_filter input{
          height: 30px !important;
      }
      .multichoiceBox{
          position: relative;
          top: 32px;
          left: -68px;
          height: 30px;
      }

      /* .tdBig {
          min-width: 14vw;
      }

      .tdMed {
          min-width: 12vw;
      }

      .tdSm {
          min-width: 10vw;
      }

      .tdMin{
          width: 9vw;
          min-width: 8vw;
      }	

      .tdBigExtra {
          min-width: 13vw;
      }

      .tdMedExtra {
          min-width: 11vw;
      }

      .tdSmExtra {
          min-width: 9vw;
      }
      .tdiPad{
          min-width: 14vw;
      } */

  }

  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1){
      .dateFromTo{
          top: 8px;
          font-size: 14px;
      }
      .buttonAdd{
          height: 30px;
          padding: 5px;
      }
  }