*{font-family: "ProximaNova"; font-weight: 100; font-size: 13px;}

form{
    width: 50%; 
    box-sizing: border-box; 
    padding: 50px; 
    padding-bottom: 20px;
    border: 1px solid lightgrey; 
    border-radius: 15px; 
    margin: auto;
    max-width: 500px;
    min-width: 500px;
}

form{
    padding-bottom: 30px;
    padding-top: 35px;
 }

.LoginInput{ 
    margin-top: 5px;
    height: 30px;
    box-sizing: border-box;
    width: 100%;
    min-width: 200px;
    padding: 3px;
    padding-left: 10px;
}



.LoginRegister:hover{
    background: #008fad;
}

.LoginRegister{
    margin: 0;
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
    background: #29c1e1;
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.inlineInput {
    width: 100%;
    text-align: left;
    height: 30px;
    font-size: 13px;
    padding-left: 8px;
    box-sizing: border-box;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: lightgray;
}
.inlineInput:focus{
    border-color: grey;
}

.inlineInput:focus-visible{border: 1px solid grey;outline: none;}

.WarningLogin{
    color: red; 
    margin: 0; 
    margin-top: 9px;
    text-align: left;  
    margin-bottom: 20px;
    margin-left: 31px;
    margin-right: 27px;
}
.ColumnFlex{
    display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	width: 100%;
	flex-direction: column;
}

.MasterLabel{
    font-size: 30px;
    color: #054d6a;
    font-weight: 500;
    text-transform: uppercase;
    font-family: "HelveticaNeueCyr";
}

.MasterLabel img{
    height: 40px;
    margin-bottom: -8px;
    margin-left: 8%;
    margin-right: 12px;
}

.masterDiv{
    height:70px; 
    margin: auto; 
    width:100%;
}

.forgotPassDiv{
    text-align: center;
    margin-top: 10px; 
    width: 100%;
}

.forgotPassDiv a{
    text-align: center; width: 100%; text-decoration: none; color: grey;
}

.forgotPassDiv:hover{
    text-decoration: underline;
}

.backButton{
    position: absolute;
    margin-top: -15px;
    margin-left: -35px;
    background: none;
    border: none;
}

.backButton:hover{
    text-decoration: underline;
    cursor: pointer;
}

.backButton::before{
    content: "\27F5";
}

.twoButtonFlex{
    flex: 1;  margin-bottom: 20px; display: flex;
}

.twoButtonFlex .LoginRegister{
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    min-width: unset;
}

.logoutIcon{
    text-align: center;
}
.logoutIcon p{
    font-size: 22px;
    color: green;
    margin-bottom: 33px;
}
.logoutIcon svg{
    margin-top: 15px;
    width: 70px;
    color: green;
}

.unactiveLogout{
    text-align: center;
}

.unactiveLogout .pHead{
    font-size: 24px;
    margin-top: 25px;
    color: #29c1e1;
    margin-bottom: 25px;
}

.unactiveLogout p{
    color: grey;
    font-size: 15px;
    margin-left: 31px;
    margin-right: 27px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.inlineInput{
    width: calc(100% - 58px);
    margin-left: 31px;
    height: 40px;
    min-width: 300px
 }

 .LoginInput{
    margin-bottom: 2px;
    width: calc(100% - 58px);
    margin-left: 31px;
    height: 40px;
 }

 .forgotPassword{
    text-align: center; width: 100%; text-decoration: none; color: grey; font-weight: 100; margin-top: 5px;
 }

 .forgotPassword:hover{
     text-decoration: underline;
     cursor: pointer;
 }

 .LoginHere{
    text-decoration: none;
}
.LoginHere:hover{
    text-decoration: underline;
    cursor: pointer;
}

.MasterDivOne{
    margin: auto;     
    width: fit-content;
}

.MasterDivTwo{
    margin: auto;  
    margin-top: 5px;   
    width: fit-content;
}
.LoginMarterRe{
    height: 72px;
 }

.MasterDivTwo .img2logo{width: 200px; margin-bottom: 8px; margin-top: 10px;}

 